img {
  margin-top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ion-button {
  --background-hover: invert();
}

.center{
  text-align:center;
}

.mainButton {
  padding-left:10%;
  padding-right:10%;
  margin-bottom: 10%;
}

