<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back" defaultHref="/tabs/table-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="tableDetailHeader">
    <h1 class="tableTitle"*ngIf="userProfile?.firstName || userProfile?.lastName">
      {{userProfile?.firstName}} {{userProfile?.lastName}}</h1>
    <p class="tableDetail">{{userProfile?.email}}</p>
    <div class="center">
    <a class="roundBtn"  (click)="goToSettings()">
      <ion-icon class="round" name="settings" ></ion-icon>
    </a>
    </div>
  </div>


  <ion-list class="gridHeader"> <ion-list-header> Your Photos </ion-list-header> </ion-list>

  <ion-grid>
    <ion-row no-padding >
      <ion-col size="4" *ngFor="let p of userPhotos">
        <div  class="pictureGrid" routerLink="/table-detail/{{p.tableID}}"
        >
          <div class="gridImage">
            <img class="soloImage" src='{{p?.picture}}'/>
          </div>
          <!--<div class="soloImageText">-->
            <!--<ion-label class="photoTitle">{{p?.photoTitle}}</ion-label><br>-->
            <!--<ion-label>Description: <strong>{{p?.photoDescription}}</strong></ion-label>-->
          <!--</div>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


