<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/table-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-button (click)="goToSettings()">Settings</ion-button>


  <ion-list> <ion-list-header> Your Photos </ion-list-header> </ion-list>

  <ion-item tappable *ngFor="let p of userPhotos">
    <!--routerLink="/table-detail/{{ table.id }}"-->
    <ion-label>
      <h2>{{p?.photoTitle}}</h2>
      <p>Description: <strong>{{p?.photoDescription}}</strong></p>
      <p> PHOTO: <strong>{{p?.picture}}</strong></p>
      <img src='{{p?.picture}}'/>
    </ion-label>
  </ion-item>


</ion-content>

