<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="tableDetailHeader">
    <h1 class="tableTitle">{{currentTable?.name}}</h1>
    <p class="tableDetail">{{currentTable?.description}}</p>
    <p class="tableDetail">Chefs: <strong *ngFor="let guest of currentTable?.guests">{{guest?.guestName}}, </strong></p>
    <div class="center">
      <a class="roundBtn"  (click)="goToUploader()">
        <ion-icon class="round" name="camera" ></ion-icon>
      </a>
      <a class="roundBtn"  (click)="presentModal()">
        <ion-icon class="round" name="person-add" ></ion-icon>
      </a>
    </div>
  </div>


  <ion-card class="pictureCard" tappable *ngFor="let p of tablePhotos">
    <div class="d0">
    <div class="outer-div">
    <div class="fixedHeight">
    <div class="soloImage">
      <img class="soloImage" src='{{p?.picture}}'/>
    </div>
    </div>
    </div>
    </div>
    <div class="soloImageText">
      <ion-label class="photoTitle">{{p?.photoTitle}}</ion-label><br>
      <ion-label>Description: <strong>{{p?.photoDescription}}</strong></ion-label>
    </div>
  </ion-card>

</ion-content>

