<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button></ion-back-button> </ion-buttons>
    <ion-title>{{currentTable?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img [src]="photo" >

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture(1)">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="takePicture(0)">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      Table's Revenue:
      <span
        [class.profitable]="currentTable?.revenue > 0"
        [class.no-profit]="currentTable?.revenue < 0 "
      >
      {{currentTable?.revenue | currency}}
    </span>
    </ion-card-header>
    <ion-card-content>
      <p>Ticket: <strong>${{currentTable?.price}}</strong></p>
      <p>Date: <strong>{{currentTable?.date}}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card class="add-guest-form">
    <ion-card-header> Add Guests </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input
                    [(ngModel)]="guestName"
                    type="text"
                    placeholder="What's your guest's name?"
            ></ion-input>
          </ion-item>
        </ion-col>

        <!--<ion-col size="4">-->
          <!--<ion-button (click)="takePicture()">-->
            <!--<ion-icon slot="icon-only" name="camera"></ion-icon>-->
          <!--</ion-button>-->
        <!--</ion-col>-->
      </ion-row>
      <span *ngIf="guestPicture">Picture taken!</span>

      <ion-button
              color="primary"
              expand="block"
              (click)="addGuest(guestName)"
              [disabled]="!guestName"
      >
        Add Guest
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
