<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back" defaultHref="/tabs/uploader"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img [src]="photo" >

  <ion-item class="yellow">
    <ion-label position="stacked">Title</ion-label>
    <ion-input class="blue" [(ngModel)]="photoTitle" type="text" placeholder="Name your creation!"></ion-input>
  </ion-item>

  <ion-item class="yellow">
    <ion-label position="stacked">Description</ion-label>
    <ion-input class="blue" [(ngModel)]="photoDescription" type="text" placeholder="Give us a taster"></ion-input>
  </ion-item>

  <ion-item class="yellow">
    <ion-label position="stacked">Share With</ion-label>
    <ion-list>
      <ion-item tappable *ngFor="let table of tableList; let i = index">
        <ion-label color="primary">{{table.name}}</ion-label>
        <ion-checkbox slot="start" [disabled]="tableList[i].value" [(ngModel)]="photoTable" (click)="Selection(table.name, table);"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-item>


  <ion-button class="yellow" expand="block" (click)="uploadPhoto(0)">
    Upload
  </ion-button>

</ion-content>

