<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/uploader"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img [src]="photo" >

  <ion-button class="mainButton" size="small"(click)="takePicture(0)">
    Upload
  </ion-button>

  <ion-list>
    <ion-item tappable
              *ngFor="let table of tableList">
      <ion-label>{{table.name}}</ion-label>
      <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>
  </ion-list>


</ion-content>
