//
//.welcome-card img {
//  max-height: 35vh;
//  overflow: hidden;
//
//}
//
//page-tab1 {
//  .ion-title * {
//    padding-top: 30vh;
//    margin-bottom: 5vh;
//    font-family: SansSerif;
//    font-size: 500px;
//  }
//
//
//}
//.ion-content {
//  --ion-background-color:var(--ion-background-color);
//
//}
//.title-md {
//  margin-bottom: 5vh;
//  font-family: 'Montserrat', sans-serif;
//  font-weight: bold;
//  font-size: 50px;
//}
//
//img {
//  width: 200px;
//  margin-top: 10%;
//}
//ion-item{
//  --ion-background-color:var(--ion-color-primary-shade);
//  padding-top: 3%;
//  margin-left: 20%;
//  margin-right: 20%;
//
//}
//
//ion-button {
//  margin-top: 50px;
//}

// new stuff
form {
  margin-bottom: 32px;
  button {
    margin-top: 20px !important;
  }
}

p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-label {
  margin-left: 5px;
}

ion-input {
  padding: 5px;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}

.error-message {
  min-height: 2.2rem;
  ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}







