<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title text-center="">-->
      <!--Login Page-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>

<ion-content text-center="">

  <img src="../assets/icon/logo.png"/>
  <ion-title color="text-color">Kai King</ion-title>

  <ion-list>
      <ion-item>
        <ion-input placeholder="Username" [(ngModel)]="currentUser.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password" [(ngModel)]="currentUser.password"></ion-input>
      </ion-item>
    </ion-list>

  <ion-button fill="solid" (click)="login(currentUser)">Login</ion-button>
  <ion-button fill="solid" color="light" (click)="register()">Register</ion-button>
  <ion-button fill="solid" color="light" (click)="resetPassword()">Forgotten Password</ion-button>


  <!--<ion-button fill="solid" color="light" [routerLink]="'/register'" routerDirection="forward">Register</ion-button>-->

</ion-content>
