.camera {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: black;
}

.upload {
  color: var(--ion-color-primary);

}

#button {
  background-color:green;
}
ion-content, .toolbar-background {
  background-color: #4E8EF7;
  color: #FFFFFF;
}

ion-navbar {
  border-bottom: #FFFFFF 1px solid;
}

.gallery-button {
  bottom: 30px;
  position: absolute;
  width: 100%;
}

ion-icon[name=images] {
  border: #FFFFFF 2px solid;
  border-radius: 50%;
  background-color: #2155AA;
  font-size: 35px;
  padding: 15px;
}
.centerDiv {
  padding-top: 50%;
  padding-bottom: 50%;
  width: 60%;
  margin: 0 auto;
}

.mainButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}