<!--<ion-header xmlns="http://www.w3.org/1999/html">-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Upload Image</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>

  <div class="centerDiv">
    <ion-text text-center="center">
      <h1>Upload from...</h1>
    </ion-text>
    <ion-button class="uploader" size="small" (click)="takePicture(1)">
      Camera
    </ion-button>
    <ion-button class="uploader" size="small"(click)="takePicture(0)">
      Gallery
    </ion-button>
  </div>

</ion-content>
